.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.sln.DotSettings.user
packages/


[Bb]in/
[Oo]bj/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
x64/
x86/

*.exe
*.exp
*.ilk
*.pdb
*.idb
*.tlog
*.lastbuildstate
*.log
*.iobj
*.ipdb
*.pch
*.res